Source: ros-noetic-foxglove-bridge
Section: misc
Priority: optional
Maintainer: Foxglove <contact@foxglove.dev>
Build-Depends: debhelper (>= 9.0.0), libasio-dev, libssl-dev, libwebsocketpp-dev, nlohmann-json3-dev, ros-noetic-catkin, ros-noetic-geometry-msgs, ros-noetic-nodelet, ros-noetic-ros-type-introspection, ros-noetic-roscpp, ros-noetic-roslib, ros-noetic-rospack, ros-noetic-rostest, ros-noetic-rosunit
Homepage: https://github.com/foxglove/ros-foxglove-bridge
Standards-Version: 3.9.2

Package: ros-noetic-foxglove-bridge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openssl, ros-noetic-nodelet, ros-noetic-ros-type-introspection, ros-noetic-roscpp, ros-noetic-roslib, ros-noetic-rospack
Description: ROS Foxglove Bridge
