Source: ros-melodic-foxglove-bridge
Section: misc
Priority: optional
Maintainer: Foxglove <contact@foxglove.dev>
Build-Depends: debhelper (>= 9.0.0), libasio-dev, libssl-dev, libwebsocketpp-dev, nlohmann-json-dev, ros-melodic-catkin, ros-melodic-geometry-msgs, ros-melodic-nodelet, ros-melodic-ros-type-introspection, ros-melodic-roscpp, ros-melodic-roslib, ros-melodic-rospack, ros-melodic-rostest, ros-melodic-rosunit
Homepage: https://github.com/foxglove/ros-foxglove-bridge
Standards-Version: 3.9.2

Package: ros-melodic-foxglove-bridge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openssl, ros-melodic-nodelet, ros-melodic-ros-type-introspection, ros-melodic-roscpp, ros-melodic-roslib, ros-melodic-rospack
Description: ROS Foxglove Bridge
